/* 
Vanesa Dávila-Luciano
Project 2
*/

body {
	color: #333436;
    font-family: Arial, Verdana, sans-serif;
	background-color: #FFFFFF;
    font-size: 16px;
    text-align: left;}
h1 {
	color: #FFFFFF;
    font-family: 'Tangerine', serif;
    font-size: 58px;
    text-align: center;
    background-color: #2BB29D;
    padding: 20px;
    opacity: 0.15);
    text-shadow: -1px -1px #666666;}

h2, h3, h4 {
    color: #333436;
    font-size: 20px;
    background-color: #F4B49D;
    padding: 10px;
    opacity: 0.15);
    text-align: center;}
