/* 
Vanesa Dávila-Luciano
Project 2
*/

/* Stylings for the main body content */
body {
	color: #333436;
    font-family: Arial, Verdana, sans-serif;
	background-color: #FFFFFF;
    font-size: 16px;
    text-align: left;}
